<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head lang="en">
<title>Lectures</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="container" th:unless="${#lists.isEmpty(lectures)}">
			<h2>Lectures</h2>
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="lecture : ${lectures}">
						<td><a th:text="${lecture.name}"
							th:href="@{'/lecture/' + ${lecture.id}}"></a></td>
						<td th:text="${lecture.description}">Description</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>