<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title th:text="#{user_list}"></title>
<meta charset="UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<h1 th:text="#{user_list}"></h1>

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th th:text="#{user}"></th>
						<th th:text="#{email}"></th>
						<th th:text="#{first_name}"></th>
						<th th:text="#{last_name}"></th>
						<th th:text="#{last_login}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{delete}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{edit}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.username}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.firstName}"></td>
						<td th:text="${user.lastName}"></td>
						<td th:text="${user.lastLogin}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:href="@{/user/delete(id=${user.id})}" th:text="#{delete}"></a></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:href="@{/user/edit/{id}(id=${user.id})}" th:text="#{edit}"></a></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:href="@{/user/autologin(username=${user.username})}"
							th:text="#{login_as}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>