<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title th:text="#{login}"></title>
<meta charset="UTF-8" />
</head>
<body>
	<div layout:fragment="content">

		<form class="form-signin" th:action="@{/login}" th:object="${users}"
			action="/login" method="post">
			<h2 class="form-signin-heading" th:text="#{please_sign_in}"></h2>

			<div class="alert alert-danger" th:if="${param.error}"
				th:text="#{email_and_password_are_incorrect}"></div>
			<input type="text" id="inputEmail" name="username"
				class="form-control top"
				th:placeholder="#{username} + ' ' + #{or} + ' ' + #{email}"
				required="required" autofocus="autofocus" /> <input type="password"
				id="inputPassword" name="password" class="form-control bottom"
				th:placeholder="#{password}" required="required" />
			<div class="checkbox">
				<label> <input type="checkbox" name="remember-me"
					th:text="#{remember_me}" /></label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit"
				th:text="#{sign_in}"></button>
		</form>

	</div>
</body>
</html>