<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title th:text="${quest.name}"></title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<h4>
			<a th:text="Home" th:href="@{/home}" href="/"></a>
		</h4>
		<div class="container">
			<h2
				th:text="'Question ' + ${questionId} + '/' + ${#lists.size(questions)} + ':'"></h2>
			<h2 th:text="${question}"></h2>

			<ul>
				<li th:each="answer : ${answers}"><input type="checkbox"
					th:text="' ' + ${answer.value}"></input></li>
			</ul>
			<button type="button" class="btn btn-primary">Answer</button>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<!--/*/ <th:block th:include="fragments/footer :: footer">&copy; 2016 The Static Templates</th:block> /*/-->
		</div>
	</footer>
</body>
</html>