<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>JTutor</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:text="#{label.welcome}"></h1>
		<h3>
			<a th:if="${isAdminOrTutor}" th:href="@{/quest/add}">Create/Update
				Quests</a>
		</h3>
		<h3>
			<a th:if="${isAdminOrTutor}" th:href="@{/lecture/add}">Create/Update
				Lectures</a>
		</h3>
		<div id="created" th:text="${#dates.format(date)}">October 25,
			2016</div>
	</div>
</body>
</html>