<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head lang="en">
<title>JTutor</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:text="#{label.welcome}"></h1>
		<h3>
			<a th:if="${isAdminOrTutor}" th:href="@{/quest/add}"
				th:text="#{label.create_or_update_quests}"></a>
		</h3>
		<h3>
			<a th:if="${isAdminOrTutor}" th:href="@{/lecture/add}"
				th:text="#{label.create_or_update_lectures}"></a>
		</h3>
		<div id="created" th:text="${#dates.format(date)}">October 25,
			2016</div>
	</div>
</body>
</html>