<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>JTutor</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div id="styled" class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}" href="/">JTutor</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar">
					<li><a th:href="@{/}" href="/">Home</a></li>
					<li><a th:href="@{/quiz/quests}" href="/quiz/quests">Quests</a></li>
					<li><a th:href="@{/lecture/lectures}" href="/lecture/lectures">Lectures</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#"><span
							class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/user/list}" href="user/list">User
									List</a></li>
							<li><a th:href="@{/user/edit/0}" href="user/list">Edit
									user</a></li>
							<li><a th:href="@{/user/reset-password}" href="reset">Reset
									Password</a></li>
							<li><a th:href="@{/user/register}" href="register">Register</a></li>
						</ul></li>
					<li><a th:href="@{/logout}" href="logout"><i
							class="icon-chevron-left"></i><span
							class="glyphicon glyphicon-log-out"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row row-offcanvas row-offcanvas-left">

			<!--/span-->

			<div class="col-sm-9 col-md-10 main">

				<!--toggle sidebar button-->
				<p class="visible-xs">
					<button type="button" class="btn btn-primary btn-xs"
						data-toggle="offcanvas">
						<i class="glyphicon glyphicon-chevron-left"></i>
					</button>
				</p>

				<div id="styled" layout:fragment="content" class="content-fragment">
					<!-- CONTENT GOES HERE -->
				</div>

			</div>
			<!--/row-->
		</div>
	</div>
	<!--/.container-->

	<footer>

		<div id="styled" class="footer">
			<p class="pull-right" th:if="${g_user}">
				Logged in as: <span th:text="${g_user.email}">my email</span>
			</p>
			&copy; 2016 Igor Goodwill
		</div>
	</footer>
</body>
</html>
