<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>JTutor</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div id="styled" class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}" href="/">JTutor</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar">
					<li><a th:href="@{/}" href="/"><span
							class="glyphicon glyphicon-home"></span></a></li>
					<li><a th:href="@{/quiz/quests}" href="/quiz/quests"
						th:text="#{quests}"></a></li>
					<li><a th:href="@{/tutorial/lectures}"
						href="/tutorial/lectures" th:text="#{lectures}"></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#"><span
							class="glyphicon glyphicon-globe"></span></a>
						<ul class="dropdown-menu">
							<li><a
								th:href="@{${#httpServletRequest.requestURI}(lang='ua')}"
								href="?lang=ua" th:text="#{ukrainian}"></a></li>
							<li><a
								th:href="@{${#httpServletRequest.requestURI}(lang='en')}"
								href="?lang=en" th:text="#{english}"></a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#"><span
							class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/user/list}" href="user/list"
								th:text="#{user_list}"></a></li>
							<li><a th:href="@{/quiz/results}" href="quiz/results"
								th:text="#{my_results}"></a></li>
							<li><a th:href="@{/user/edit/0}" href="user/list"
								th:text="#{edit_user}"></a></li>
							<li><a th:href="@{/user/reset-password}" href="reset"
								th:text="#{reset_password}"></a></li>
							<li><a th:href="@{/user/register}" href="register"
								th:text="#{register}"></a></li>
						</ul></li>
					<li><a th:href="@{/logout}" href="logout"><i
							class="icon-chevron-left"></i><span
							class="glyphicon glyphicon-log-out"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row row-offcanvas row-offcanvas-left">

			<!--/span-->

			<div class="col-sm-9 col-md-10 main">

				<!--toggle sidebar button-->
				<p class="visible-xs">
					<button type="button" class="btn btn-primary btn-xs"
						data-toggle="offcanvas">
						<i class="glyphicon glyphicon-chevron-left"></i>
					</button>
				</p>

				<div id="styled" layout:fragment="content" class="content-fragment">
					<!-- CONTENT GOES HERE -->
				</div>

			</div>
			<!--/row-->
		</div>
	</div>
	<!--/.container-->

	<footer>

		<div id="styled" class="footer">
			<p class="pull-right" th:if="${g_user}"
				th:text="#{logged_in_as} + ': ' + ${g_user.email}"></p>
			&copy; 2016 Igor Goodwill
		</div>
	</footer>
</body>
</html>
